{% extends 'learning_logs/base.html' %}

{% block content %}
  <style>
    .custom-container {
      width: 75%; /* Set the width to 75% */
      margin: 0 auto; /* Center the content */
      background-color: transparent; /* Transparent background */
      color: #6c757d; /* Set text color to secondary */
    }

    .custom-button-margin {
      margin-top: 15px;
    }

    .custom-padding {
      padding: 20px;
    }
  </style>

  <div class="custom-container custom-padding text-center">
    <p class="text-secondary">Are you sure you want to delete this entry?</p>
    <p class="text-secondary">{{ entry.text|linebreaks }}</p>

    <form action="{% url 'learning_logs:delete_entry' entry.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger custom-button-margin">Delete</button>
      <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-secondary custom-button-margin">Cancel</a>
    </form>
  </div>
{% endblock content %}
